<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit an Artist</title>
</head>
<body>
	This is the edit page

	<form action="/music/:id" method="POST">
	<input type="hidden" name="_method" value="put">
		<input type="text">
		<input type="submit" value="Edit">
	</form>

	<a href="/music">Home Page</a>





	
</body>
</html>