<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index of Artists</title>
</head>
<body>
	<h1>These are our Fave Musicians</h1>


<ul>
	<% @music.each do |artist| %>

	<li>
	<h4><%= artist.Artist %></h4>
	<h4><%= artist.Year %></h4>
	</li>
	<% end %>
</ul>




<p>
	<a href="/music/new">Add an Artist</a>
</p>


</body>
</html>