<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a New Artist</title>
</head>
<body>

	This is where you add an artist!

	<form action="/music" method="POST">
		<input type="text">
		<input type="submit" value="New">
	</form>

	<a href="/music">Home Page</a>

</body>
</html>