<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artists Details</title>
</head>
<body>
	This is where Artist's Details are shown!

<p>
	<a href="/music/:id/edit">Edit this artist</a>
</p>

<p>
	<a href="/music">Home Page</a>
</p>

</body>
</html>