<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artists Details</title>
</head>
<body>
	This is where Artist's Details are shown!

	<a href="/music">Home Page</a>


</body>
</html>